*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background: #000;


}

/*-------------------I am comment top section of the page ---------------------*/
.iii{
    border: 2px solid rebeccapurple;

}
 table{
    width: 100%;
    border: 2px solid
    rebeccapurple;
    height: 50px;
    background: orange;
}
.iii table, td:nth-child(1)::before{

}
.iii table, td:nth-child(1)::first-letter{
    color: yellow;
    font-size: 40px;
    text-shadow:0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #d8d8d8;

}
.iii table, td:nth-child(1){
    font-size: 30px;
    width: 70%;
    font-weight: bolder;
    font-family: serif;
    font-style: italic;
    font-variant: small-caps;
    text-transform: lowercase;
    text-shadow:0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #d8d8d8;
}
.iii table, td:nth-child(2){
    width: 10%;
}
.iii table, td:nth-child(3){
    font-size: 15px;
    width: 8%;
    height: 100%;
    text-align:center;
    text-decoration: none;
    color:red;
}
.iii table, td:nth-child(3) a{
    color:yellowgreen;
    text-decoration: none;
    font-weight: bolder;
    font-family: serif;
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
}
.iii table, td:nth-child(4){
    font-size: 15px;

    width: 7%;
    height: 100%;
    text-align:right;

}
.iii table, td:nth-child(4) a{
    color:yellowgreen;
    text-decoration: none;
    font-weight: bolder;
    font-family: serif;
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
}

/*----------------------end-------------------------*/


/*----------------------I am comment home button section of the page ---------------------*/
.boxii{
    display: inline-flex;
    height: 150px;
    width: 100%;
}
.boxs{
    background-color: gray;
    border: 1px solid black;
    height: 100%;
    width: 65%;

}
.boxi{
    background-color:#000;
    border: 1px solid black;
    height: 150px;
    width: 35%;

}
.boxi ul{
    position: absolute;
    left: 160px;
    top: 143px;

    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}
.boxi li{
    list-style: none;
    padding: 0;
    letter-spacing: -5px;
    display: inline-block;
    font-size:40px;
    color: cyan;
    font-family: 'Pacifico', cursive;
    text-shadow: 5px -5px 5px white;
    animation: animate 1.6s linear infinite;


}
@keyframes animate
{
    0%
    {
        color: #484848;
        text-shadow:0 0 5px gold,
                    0 0 25px gold,
                    0 0 50px gold,
                    0 0 200px gold;

    }
    45%
    {
        color:rgba(red, green, blue, alpha)
        text-shadow:0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 200px #d8d8d8;

    }
    90%
    {
        color: #484848;
        text-shadow:0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 200px #d8d8d8;

    }
    100%
    {
        color: yellow;
        text-shadow: 0 0 70px #fff900 , 0 0 80px #ff6c00;
    }
}
.boxi ul li:nth-child(1) {
    animation-delay: .2s;
    text-transform: capitalize;
    font-family: serif;
    font-weight: bolder;
    font-size: 85px;

}
.boxi ul li:nth-child(2) {
    animation-delay: .4s;
    text-transform: lowercase;
    font-family: inherit;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 75px;

}
.boxi ul li:nth-child(3) {
    animation-delay: .6s;
    text-transform: lowercase;
    font-family: serif;
    font-weight: bolder;
    font-variant: small-caps;

}
.boxi ul li:nth-child(4) {
    animation-delay: .8s;
    text-transform: capitalize;
    font-family: serif;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 60px;

}
.boxi ul li:nth-child(5) {
    animation-delay: 1s;
    text-transform: lowercase;
    font-family: inherit;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 55px;

}
.boxi ul li:nth-child(6) {
    animation-delay: 1.2s;
    text-transform: lowercase;
    font-family: inherit;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 45px;

}
.boxi ul li:nth-child(7) {
    animation-delay: 1.4s;
    text-transform: lowercase;
    font-family: inherit;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 90px;
}
.boxi ul li:nth-child(8) {
    animation-delay: 1.6s;
    text-transform: lowercase;
    font-family: inherit;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 45px;

}
.boxi ul li:nth-child(9) {
    animation-delay: 1.8s;
    text-transform: lowercase;
    font-family: inherit;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 55px;

}
.boxi ul li:nth-child(10) {
    animation-delay: 2s;
    text-transform: lowercase;
    font-family: inherit;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 65px;

}
.boxi ul li:nth-child(11) {
    animation-delay: 2.2s;
    text-transform: lowercase;
    font-family: inherit;
    font-weight: bolder;
    font-variant: small-caps;

}
   

/*----------------------end-------------------------*/

/*----------------------I am comment navigatoin-bar menu section of the page-------------------*/
.a1{
    width: 100%;
    height: 550px;
    border: 1px solid black;
    background-image: url(assetes/image/image77.jpg);
    animation: slide 20s infinite;
}
@keyframes slide{
    10%{
        background-image: url(assetes/image/bg1.jpg);

    }
    20%{
        background-image: url(assetes/image/bg2.jpg);
    }
    40%{
        background-image: url(assetes/image/bg3.jpg);
    }
    60%{
        background-image: url(assetes/image/team-1.jpg);
    }
    80%{
        background-image: url(assetes/image/team-2.jpg);
    }
    100%{
        background-image: url(assetes/image/team-4.jpg);
    }

}
.a1 ul{
    margin: 0;
    padding: 0;
    transition-timing-function: ease-in-out;
    background:rgba(red, green, blue, alpha);
    overflow: hidden;
    width: 100%;
    }

.a1 >ul >li {
    float: left;

    list-style-type: none;
    animation: animat 1.8s linear infinite;
    }
    @keyframes animat
    {
        0%
        {   background:rgba(red, green, blue, alpha);
            border-radius: 10px;
            text-shadow: 0 0 7px white , 0 0 50px black;


        }
        20%
        {
            background:rgba(red, green, blue, alpha);
            text-shadow: 0 0 7px yellow , 0 0 50px slategray;
        }
        40%
        {   background:rgba(red, green, blue, alpha);

            text-shadow: 0 0 7px blue , 0 0 50px #ff6c00;
        }
        60%
        {   background:rgba(red, green, blue, alpha);

            text-shadow: 0 0 7px maroon , 0 0 50px hotpink;
        }
        80%
        {
            background:rgba(red, green, blue, alpha);
            text-shadow: 0 0 7px steelblue, 0 0 50px grey;
        }
        100%
        {   background:rgba(red, green, blue, alpha);

            text-shadow: 0 0 7px yellow , 0 0 50px white;
        }
    }
    .a1 ul li:nth-child(1) {animation-delay: .2s;}
    .a1 ul li:nth-child(2) {animation-delay: .4s;}
    .a1 ul li:nth-child(3) {animation-delay: .6s;}
    .a1 ul li:nth-child(4) {animation-delay: .8s;}
    .a1 ul li:nth-child(5) {animation-delay: 1s;}
    .a1 ul li:nth-child(6) {animation-delay: 1.2s;}
    .a1 ul li:nth-child(7) {animation-delay: 1.4s;}
    .a1 ul li:nth-child(8) {animation-delay: 1.6s;}
    .a1 ul li:nth-child(9) {animation-delay: 1.8s;}
    .a1 ul li:nth-child(10) {animation-delay: 2s;}
    .a1 ul li:nth-child(11) {animation-delay: 2.2s;}
    .a1 ul li:nth-child(12) {animation-delay: 2.4s;}
    .a1 ul li:nth-child(13) {animation-delay: 2.6s;}
    .a1 ul li:nth-child(14) {animation-delay: 2.8s;}


.a1 ul .srce input{
    margin-left: 40px;
    width: 120px;
    }
.a1 ul li:first-child{
    position: sticky;
    top: 0;
}
.a1 ul li a {
    color: honeydew;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 16px;
    }

.a1 ul li > a:hover {
    background:rgba(255,255,255,.2);

    border: 0px 2px solid whitesmoke;

}
.a1 ul li div > a:hover {
    background:rgba(255,255,255,.2);
    border: 1px 2px 0px solid white;

}

.timeline:hover .line {
    display: block;
}
.time:hover {
    color:rgb(128, 255, 105);
}
.line{
    background:rgba(red, green, blue, alpha);
    display: none;
    position: absolute;

    box-shadow: 3px 9px 10px 0px black;
    min-width: 100px;
    text-align: left;
}

}
.line a:nth-child(1){
    color:red;
}
.line a:nth-child(2){
    color: royalblue;
}
.line a:nth-child(3){
    color: yellow;
}
.line a:nth-child(4){
    color: green;
}
.line a:nth-child(5){
    color: skyblue;
}
.line a:nth-child(6){
    color: mediumvioletred;
}
.line a:nth-child(7){
    color: mintcream;
}
.line a:nth-child(8){
    color:red;
}
.line a:nth-child(9){
    color: royalblue;
}
.line a:nth-child(10){
    color: yellow;
}
.line a:nth-child(11){
    color: green;
}
.line a:nth-child(12){
    color: skyblue;
}

.line a:nth-child(13){
    color: mediumvioletred;
}

.a1 .line a{
    display: block;

    font-style: italic;
}
.line a:hover{
    background:rgba(red, green, blue, alpha);

    font-size: 15px;
    font-weight:bold;
}
.line a:active{
    background-color:hotpink;
    font-size: 12px;
    font-weight:bolder;
    font-style: italic;
    font-variant: small-caps;
    color: yellow;
}
@media screen and (max-width:){
    .a1 ul li a {
        color: honeydew;
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        padding: 10px 95px;
        }
}
@media screen and (max-width:4320px){
    .a1 ul li a {
        color: honeydew;
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        padding: 40px 85px;
        }
}

@media screen and (max-width:2500px){
    .a1 ul li a {
        color: honeydew;
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        padding: 30px 55px;
        }
}
@media screen and (max-width:2000px){
    .a1 ul li a {
        color: honeydew;
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        padding: 20px 35px;
        }
}

@media screen and (max-width:1400px){
    .a1 ul li a {
        color: honeydew;
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        padding: 15px 29px;
        }
}
@media screen and (max-width:1300px){
    .a1 ul li a {
        color: honeydew;
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        padding: 13px 26px;
        }
}
@media screen and (max-width:1200px){
    .a1 ul li a {
        color: honeydew;
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        padding: 12px 20px;
        }
}
@media screen and (max-width:1150px){
    .a1 ul li a {
        color: honeydew;
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        padding: 10px 20.6px;
        }
}
@media screen and (max-width:1024px){
    .a1 ul li a {
        color: honeydew;
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        padding: 10px 16.5px;
        }
}
@media screen and (max-width:980px){
    .a1 ul li a {
        color: honeydew;
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        padding: 10px 13px;
        }
}
/*-----------------------end-------------------------*/



/*--------------------I am comment all service review section of the page---------------------*/
.service{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
}
h2{
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}
h2 span{
    font-size: 30px;
}
p{
    font-size: 20px;
    color: ivory;
}
.service >div{
    height: 210px;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.5s ease-in;
}
.service >div:hover{
    opacity: 0.7;
    transform: scale(0.98);
}
.service >div:nth-child(1){
    grid-column: 1/3;
}
.service >div:nth-child(6){
    grid-column: 3/5;
}
.service >div:nth-child(9){
    grid-column: 3/5;
}
.service >div:nth-child(10){
    grid-column: 1/3;
}

.bg1{
    background:url(assetes/image/team-1.jpg);
}
.bg2{
    background:url(assetes/image/team-5.jpg);
}

/*-----------------------end-------------------------*/

/*---------------------I am comment shoping center page section of the pege---------------------------*/
.shoping{
    height: 700px;
    margin: 0px 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px 20px ;
    background: url(assetes/image/team-2.jpg);


}

.shoping >div{
    height: 210px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: transparent;
    background: rgba(red, green, blue, alpha);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: yellow;
    box-shadow:
            5px 0px 10px hotpink,
            0 0 25px #fff,
            -0 20px 10px #000,
            0 0 0px #000;
    transition: all 0.5s ease-in;
}
.shoping >div:hover{
    opacity: 0.7;
   transform: scale(.95);
   transition: all 0.5s ease-in;
}

.shoping >div:nth-child(1){
    grid-column: 1/5;
    border: none;
    box-shadow: none;
    height: 100px;
    font-size: 25px;
    color: #fff;
    text-shadow:0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #d8d8d8;
    opacity: 5;
    transform: scale(1.09);
}
.shoping >div:nth-child(2) >h2:first-child {
    padding:0px;
    margin: -30px;
}
.shoping >div:nth-child(7){
    overflow: auto;
    font-size: 1px;
}
.shoping >div:hover:nth-child(3){
    opacity: 0.7;
   transform: scale(1.10);
   transition: all 0.5s ease-in;
}
.shoping >div:hover:nth-child(4){
    opacity: 0.7;
   transform: scale(1.10);
   transition: all 0.5s ease-in;
}
.shoping >div:hover:nth-child(7){
    opacity: 0.7;
   transform: scale(1.10);
}
.shoping >div:hover:nth-child(8){
    opacity: 0.7;
    transform: scale(1.10);
}

/*-----------------------end-------------------------*/

/*--------------------I am comment of entertenmant menu section of the page ------------------------*/

/*-----------------------end-------------------------*/

/*--------------------I am comment gallery section of the pege-----------------*/


/*-----------------------end-------------------------*/

/*----------------------I am comment News sectionof the page----------------------*/

/*-----------------------end-------------------------*/
/*----------------------I am comment News sectionof the page----------------------*/

/*-----------------------end-------------------------*/

/*---------------------I am comment  Info nad Others section of the page---------------------*/

 /*-----------------------end-------------------------*/

/*----------------------I am comment about us section of the pege-----------------*/


/*-----------------------end-------------------------*/


/*----------------I am comment follower section of the pege-------------------*/


.box70{
    text-align: center;
    margin: 0px 10px;
    max-width: 100%;
    height: 500px;
    border: 1px solid ;
    background-color:black;
    background-size: cover;
}

.box70 h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    display: inline-block;
    margin: 40px 0px;
    color: blanchedalmond;

}
.box70 h2:hover{
    color:#fff;
    text-shadow:0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #d8d8d8;
    opacity: 1;
    transform: scale(1.10);
    transition: all 0.5s ease-in;
}
.box70 .box1 >div{
    display:inline-flex;
    position:relative;
    width: 90px;
    height: 90px;
    border: 2px solid black;
    border-radius: 10%;
    top: 0%;
    left: 3%;
    margin: 20px 10px;
    transform: translate(-50%, -50%);
    text-align: center;
}
.box70 .box1 >div a{
    font-size: 35px;
    text-align: center;
    margin: auto;
    padding:0;
    color: blanchedalmond;
}
.box70 .box1 >div a:hover{
    font-size: 35px;
    text-align: center;
    transform: scale(1.5);
    transition: all 0.5s ease-in;
    margin: auto;
    padding:0;
    color: white;
    text-shadow:0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #d8d8d8;
}

.box70 .box1 >div:hover{
    border: 5px solid #03e9f4;
    border-radius: 20px;
    color: gold;
    transition: all 0.5s ease-in;
    box-shadow:0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #d8d8d8;
}
/*-----------------------end-------------------------*/
